{{#link-to "games.index" (query-params type="todo") class="btn btn-default"}}ToDo{{/link-to}}
{{#link-to "games.index" (query-params type="charged") class="btn btn-default"}}Charged{{/link-to}}
{{#link-to "games.index" (query-params type="processed,charged") class="btn btn-default"}}Done{{/link-to}}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Created</th>
        <th>Creator</th>
        <th>Name</th>
        <th>Scenario</th>
        <th class="centeredText">Players</th>
        <th class="centeredText">Declared</th>
        <th class="centeredText">Teams</th>
        <th>Done</th>
        <th>Charged</th>
        <th>Game Status</th>
        <th>Comments</th>
        <th>To Game</th>
        <th>Force Deletion</th>
    </tr>
    </thead>
    <tbody>
    {{#each game in model itemController="game" }}
        <tr>
            <td>{{game.createdTime}}</td>
            <td>{{game.creator}}</td>
            <td>{{game.gameName}}</td>
            <td>{{game.gameModelName}}</td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "players" game}}><u>{{game.playerCount}}</u></td>
            <td class="centeredText">{{game.declaredSize}}</td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "teams" game}}><u>{{game.teamCount}}</u></td>
            <td>{{input type='checkbox' id=game.doneId checked=game.isDone}}<label class='mouse-pointer' {{bindAttr for="game.doneId"}} /></td>
            <td>{{input type='checkbox' id=game.chargedId checked=game.isCharged}}<label class='mouse-pointer' {{bindAttr for="game.chargedId"}} /></td>
            <td>{{game.gameStatus}}</td>
            {{#if game.commentEdit}}
                <td> {{textarea-edit class="form-control" value=game.comments focus-out="acceptComment" rows="5"}}</td>
            {{else}}
                <td {{action "editComment" on="click"}}>{{textarea class="form-control" value=game.comments focus-out="acceptComment" rows="1" disabled="true"}}</td>
            {{/if}}
            <td class="centeredText"><a target="_blank" {{bind-attr href="game.gameLink"}}>View</a></td>
            <td class="centeredText">{{#if game.isDelete}}
                <a class="mouse-pointer" target="_blank" {{action "forceDeletion" on="click"}}>Delete</a>
            {{/if}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{outlet "modal"}}
