{{#modal-dialog action="close" title="Teams List" }}
    <ul>
        {{#each team in teams}}
            <li style="width:100%; padding-right:15px"><span style="display:inline-block;font-weight:bold">{{team.name}} ({{team.status}})</span>
                {{#if team.hasDeclaredSize}}
                    {{#if team.realMatchesDeclaredSize}}
                        <span style="position: absolute; left: 400px; color:#999;">
                            (Size: {{team.players.length}})
                        </span>
                    {{else}}
                        {{#if team.realGreaterThanDeclaredSize}}
                            <span style="position: absolute; left: 400px; color:#999;">
                                (Size: {{team.declaredSize}} <span style="color:red">&lt;</span> Players: {{team.players.length}})
                            </span>
                        {{else}}
                            <span style="position: absolute; left: 400px; color:#999;" >
                                (Size: {{team.declaredSize}} &gt; Players: {{team.players.length}})
                            </span>
                        {{/if}}
                    {{/if}}
                {{else}}
                    <span style="position: absolute; left: 400px; color:#999;">
                        (Size: {{team.players.length}}, no declared size)
                    </span>
                {{/if}}
            <ul style="margin-bottom:20px">
                {{#each player in team.players}}
                    <li>{{player.name}} ({{player.status}})</li>
                {{else}}
                    <i>No players</i>
                {{/each}}
            </ul>
            </li>
        {{else}}
            No teams
        {{/each}}
    </ul>
{{/modal-dialog}}
