{{#link-to "games.index" (query-params type="todo") class="btn btn-default"}}ToDo{{/link-to}}
{{#link-to "games.index" (query-params type="charged") class="btn btn-default"}}Charged{{/link-to}}
{{#link-to "games.index" (query-params type="processed,charged") class="btn btn-default"}}Done{{/link-to}}
<table class="table table-striped">
    <thead>
    <tr>
        <th rowspan="2">Created</th>
        <th rowspan="2">Creator</th>
        <th rowspan="2">Name</th>
        <th rowspan="2">Scenario</th>
        <th colspan="6" class="centeredText">Players</th>
        <th rowspan="2" class="centeredText">Teams</th>
        <th rowspan="2">Done</th>
        <th rowspan="2">Charged</th>
        <th rowspan="2">Game Status</th>
        <th rowspan="2">Comments</th>
        <th rowspan="2">To Game</th>
        <th rowspan="2">Force Deletion</th>
    </tr>
    <tr>
        <th class="centeredText">All</th>
        <th class="centeredText">Live</th>
        <th class="centeredText">Survey</th>
        <th class="centeredText">Failed</th>
        <th class="centeredText">Pending</th>
        <th class="centeredText">Declared</th>
    </tr>
    </thead>
    <tbody>
    {{#each game in model itemController="game" }}
        <tr>
            <td>{{game.createdTime}}</td>
            <td>{{game.creator}}</td>
            <td>{{game.gameName}}</td>
            <td>{{game.gameModelName}}</td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "players" game}}><u>{{game.playerDetails.TOTAL}}</u></td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "players" game}}><u>{{game.playerDetails.LIVE}}</u></td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "players" game}}><u>{{game.playerDetails.SURVEY}}</u></td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "players" game}}><u>{{game.playerDetails.FAILED}}</u></td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "players" game}}><u>{{game.playerDetails.OTHER}}</u></td>
            <td class="centeredText">{{game.declaredSize}}</td>
            <td class="mouse-pointer centeredText" {{action 'openModal' "teams" game}}><u>{{game.teams.length}}</u></td>
            <td>{{input type='checkbox' id=game.doneId checked=game.isDone}}<label class='mouse-pointer' {{bindAttr for="game.doneId"}} /></td>
            <td>{{input type='checkbox' id=game.chargedId checked=game.isCharged}}<label class='mouse-pointer' {{bindAttr for="game.chargedId"}} /></td>
            <td>{{game.gameStatus}}</td>
            {{#if game.commentEdit}}
                <td> {{textarea-edit class="form-control" value=game.comments focus-out="acceptComment" rows="5"}}</td>
            {{else}}
                <td {{action "editComment" on="click"}}>{{textarea class="form-control" value=game.comments focus-out="acceptComment" rows="1" disabled="true"}}</td>
            {{/if}}
            <td class="centeredText">{{#unless game.isSuppressed}}<a target="_blank" {{bind-attr href="game.gameLink"}}>View</a>{{/unless}}</td>
            <td class="centeredText">{{#if game.isDelete}}
                <a class="mouse-pointer" target="_blank" {{action "forceDeletion" on="click"}}>Delete</a>
            {{/if}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{outlet "modal"}}
